<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Quickscript</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="icon/x-icon"
      type="image"
      href="/favicon.ico">
</head>
<body>
  <div class="title" style="box-shadow: 1px 1px 3px #888888;">
    <!-- <md-menu>
      <md-menu-content width="6">
        <md-menu-item ng-repeat="item in [1, 2, 3]">
          <md-button ng-click="ctrl.announceClick($index)">
            <md-icon md-menu-align-target></md-icon>
            Option {{item}} <i class="material-icons">face</i>
          </md-button>
        </md-menu-item>
      </md-menu-content>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="ctrl.toggleNotifications()">
            <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
            {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu> -->
    <h1>Quick<span style="font-weight: 500">script</span></h1>
    <h3 class="subheader" style="text-align: center; font-weight: 400; margin: 0; padding: 10px 0;">
      Prescriptions made simple, quick, and reliable
    </h3>
  </div>
  <!--<ul class="menu">-->
    <!--<li><a href="#!/signUpDoctor">Doctor Sign Up</a></li>-->
    <!--<li><a href="#!/loginDoctor">Doctor Login</a></li>-->
    <!--<li><a href="#!/patientsView">Patients View</a></li>-->
    <!--<li><a href="#!/addPatientView">Add Patient</a></li>-->
    <!--<li><a href="#!/addPrescriptionView">Add Prescription</a></li>-->
    <!--<li><a href="#!/pharmacyView">Pharmacy View</a></li>-->
  <!--</ul>-->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="view" ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-aria/angular-aria.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="/bower_components/angular-material/angular-material.js"></script>


  <script src="app.js"></script>
  <script src="patientsView/patientsView.js"></script>
  <script src="addPatientView/addPatientView.js"></script>
  <script src="addPrescriptionView/addPrescriptionView.js"></script>
  <script src="pharmacyView/pharmacyView.js"></script>
  <script src="loginDoctor/loginDoctor.js"></script>
  <script src="signUpDoctor/signUpDoctor.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
